@import "tailwindcss";

@layer components {
  .max-container {
    @apply w-full max-w-[1440px] mx-auto px-4 md:px-8;
  }

  .padding-x {
    @apply lg:px-[4rem] md:px-[1.8rem] px-[0.8rem];
  }
}

@font-face {
  font-family: "SFProText";
  src: url("/fonts/sf-pro-text-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProTextBold";
  src: url("/fonts/sf-pro-text-bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProTextMedium";
  src: url("/fonts/sf-pro-text-medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProTextSemiBold";
  src: url("/fonts/sf-pro-text-semibold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("/fonts/SFPRODISPLAYBOLD.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SFProText";
}
